{{ define "main" }}

  <article class="article transition-fade">
    <h1 class="article__title">
      <a class="baffle" href="{{ .Permalink }}">{{ .Title }}</a>
    </h1>

  {{ partial "article-content.html" . }}
  </article>

  {{ partial "pagination-single.html" . }}

{{ end }}

