<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  {{ partial "head.html" . }}
</head>
<body class="container">

    {{ partial "header.html" . }}

    <div class="content--border"></div>
    <main class="content">
      <div class="swup">
      {{ block "main" . }}
      {{ end }}
      </div>
      <div class="transition-swipe cover">
      <svg class="spinner" version="1.1" viewBox="0 0 80.812 80.812" xmlns="http://www.w3.org/2000/svg">
        <path d="m10.102 80.812-10.102-10.102 30.304-30.304-30.304-30.304 10.102-10.102 30.304 30.304 30.304-30.304 10.102 10.102-30.304 30.304 30.304 30.304-10.102 10.102-30.304-30.304-30.304 30.304"/>
      </svg>
      </div>
    </main>
    <div class="hack swup"></div>

<svg xmlns="http:/www.w3.org/2000/svg" class="hidden">
  <filter id="duotone">
    <feColorMatrix type="matrix" result="grayscale"
      values="1 0 0 0 0
              1 0 0 0 0
              1 0 0 0 0
              0 0 0 1 0" />

    <feComponentTransfer color-interpolation-filters="sRGB" result="duotone-red-black">
      <feFuncR type="table" tableValues="0 1"></feFuncR>
      <feFuncG type="table" tableValues="0 0"></feFuncG>
      <feFuncB type="table" tableValues="0 0"></feFuncB>
      <feFuncA type="table" tableValues="0 1"></feFuncA>
    </feComponentTransfer>
  </filter>
</svg>

  {{ partial "scripts-footer.html" . }}
</body>
</html>
