{{ define "main" }}
<article class="taxonomy">

<h1 class="taxonomy__title">{{ .Title | markdownify }}</h1>

  {{ if .Content }}
<div class="taxonomy__content">{{ partial "typography.html" . }}</div>
  {{ end }}

  {{ range .Pages.ByTitle }}
    <h2 class="taxonomy__term"><a href="{{ .Permalink }}">{{ .Params.title | markdownify }}</a></h2>
  {{ end }}

</article>
{{ end }}
