{{ $paginator := .Scratch.Get "pagination" }}

<div class="grid transition-fade">

{{ range $paginator.Pages }}

  <article class="grid__item grid-article">
  <a class="grid-article__link" href="{{ .Permalink }}">

    {{ if .Params.gridimages }}
    {{ range first 1 .Params.gridimages }}
    <figure class="grid-article__image">
    <img class="lazy item__image image"
         alt="{{ $.Page.Title | safeHTML }}"
         src="data:image/svg+xml;utf8, <svg height='1000' viewBox='0 0 1500 1000' width='1500' xmlns='http://www.w3.org/2000/svg'></svg>"
         data-src="{{ $.Site.BaseURL }}{{ . | urlize }}"
         data-sizes="(min-width: 90em) 15vw,
                     (min-width: 50em) 25vw,
                     40vw"
         data-srcset="{{ $.Site.BaseURL }}{{ substr . 0 -4 | urlize }}-small.jpg 400w,
                      {{ $.Site.BaseURL }}{{ substr . 0 -4 | urlize }}-medium.jpg 800w,
                      {{ $.Site.BaseURL }}{{ substr . 0 -4 | urlize }}-large.jpg 1200w,
                      {{ $.Site.BaseURL }}{{ substr . 0 -4 | urlize }}.jpg 2400w">
    </figure>
    {{ end }}
    {{ end }}

    <div class="grid-article__info">
      <h1 class="grid-article__title hyphens"><span class="baffle hyphens">{{ .Title }}</span></h1>
      {{ if .Params.persona }}
      <span class="grid-article__meta">
      {{- range $key, $persona := .Params.persona }}
      {{ if $key }} & {{ end }}<span class="baffle">{{ $persona }}</span>
      {{ end -}}
      </span>
      {{ end }}

    {{- if .Params.date }}
    <time class="grid-article__meta" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "02.01.06" }}</time>
    {{ end -}}
      {{ partial "typography-summary.html" . }}
    </div>

  </a>
  </article>
{{ end }}
  <article class="grid__item grid-article"></article>
  <article class="grid__item grid-article"></article>
  <article class="grid__item grid-article"></article>
  <article class="grid__item grid-article"></article>
  <article class="grid__item grid-article"></article>
  <article class="grid__item grid-article"></article>
  <article class="grid__item grid-article"></article>
  <article class="grid__item grid-article"></article>
  <article class="grid__item grid-article"></article>

  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
</div>

{{ partial "pagination-list.html" . }}
