{{ $paginator := .Scratch.Get "pagination" }}

<div class="grid transition-fade">

{{ range $paginator.Pages }}

  <article class="grid__item grid__item--taxonomy grid-article">
  <a class="grid-article__link" href="{{ .Permalink }}">

    <h1 class="grid-article__title hyphens"><span class="baffle">{{ .Title }}</span></h1>

    {{ if .Params.gridimages }}
    {{ range first 1 .Params.gridimages }}
    <figure class="grid-article__image">
    <img class="lazy item__image image"
         alt="{{ $.Page.Title | safeHTML }}"
         src="data:image/svg+xml;utf8, <svg height='1000' viewBox='0 0 1500 1000' width='1500' xmlns='http://www.w3.org/2000/svg'></svg>"
         data-src="{{ $.Site.BaseURL }}{{ . | urlize }}"
         data-sizes="(min-width: 90em) 15vw,
                     (min-width: 50em) 25vw,
                     40vw"
         data-srcset="{{ $.Site.BaseURL }}{{ substr . 0 -4 | urlize }}-small.jpg 400w,
                      {{ $.Site.BaseURL }}{{ substr . 0 -4 | urlize }}-medium.jpg 800w,
                      {{ $.Site.BaseURL }}{{ substr . 0 -4 | urlize }}-large.jpg 1200w,
                      {{ $.Site.BaseURL }}{{ substr . 0 -4 | urlize }}.jpg 2400w">
    </figure>
    {{ end }}
    {{ end }}

  </a>
  </article>

{{ end }}
  <article class="grid__item grid-article"></article>
  <article class="grid__item grid-article"></article>
  <article class="grid__item grid-article"></article>
  <article class="grid__item grid-article"></article>
  <article class="grid__item grid-article"></article>
  <article class="grid__item grid-article"></article>
  <article class="grid__item grid-article"></article>
  <article class="grid__item grid-article"></article>
  <article class="grid__item grid-article"></article>

  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
  <div class="grid__item grid__space"></div>
</div>

{{ partial "pagination-list.html" . }}
