<h1 class="article__title">
    <a class="baffle" href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
</h1>

<nav class="article__info">

  <div class="article__info--container">
    {{ if .Params.orthopersona }}
    <span class="article__tags">persona.e.
    {{- range $key, $persona := .Params.orthopersona }}
      {{ if $key }} & {{ end }}<a href="{{ $.Site.BaseURL }}persona/{{ $persona.link | urlize }}">{{ $persona.name | markdownify }}</a>
    {{ end }}
    </span>
    {{ else if .Params.persona }}
    <span class="article__tags">persona.e.
    {{- range $key, $persona := .Params.persona }}
      {{ if $key }} & {{ end }}<a href="{{ $.Site.BaseURL }}persona/{{ $persona | urlize }}">{{ $persona | markdownify }}</a>
    {{ end }}
    </span>
    {{ end }}

    <time class="article__date" datetime="{{ .Date.Format "2006-01-02" }}">date.s. {{ .Date.Format "02/01/2006" }}</time>

    {{ if .Params.echo }}
    <span class="article__tags">écho.s.
    {{ range .Params.echo }}
      <a href="{{ $.Site.BaseURL }}echo/{{ . | urlize }}">#{{ . | markdownify }}</a>
    {{ end }}
    </span>
    {{ end }}

    {{ if .Params.papier }}
    <span class="article__tags">4.0.4. <a href="{{ $.Site.BaseURL }}404/{{ .Params.papier | urlize }}">numéro&nbsp;{{ .Params.papier | markdownify }}</a>
    </span>
    {{ end }}

  </div>
</nav>
