{{ if .Params.images }}
{{ range first 1 .Params.images }}
<figure class="article__image">
  <div class="img-container">
    <img class="lazy item__image image"
      alt="{{ $.Page.Title | safeHTML }}"
      src="data:image/svg+xml;utf8, <svg height='1000' viewBox='0 0 1500 1000' width='1500' xmlns='http://www.w3.org/2000/svg'></svg>"
      data-src="{{ $.Site.BaseURL }}{{ . | urlize }}"
      data-sizes="60vw"
      data-srcset="{{ $.Site.BaseURL }}{{ substr . 0 -4 | urlize }}-small.jpg 400w,
                   {{ $.Site.BaseURL }}{{ substr . 0 -4 | urlize }}-medium.jpg 800w,
                   {{ $.Site.BaseURL }}{{ substr . 0 -4 | urlize }}-large.jpg 1200w,
                   {{ $.Site.BaseURL }}{{ substr . 0 -4 | urlize }}.jpg 2400w">
    <div class="img-container--border"></div>
  </div>
</figure>
{{ end }}
{{ end }}

<div class="article__content{{ if .Params.javascript }} article__content--javascript{{ end }}">

  {{ if eq .Section "articles" }}
  {{ with .File }}
  <div class="download">
    Le texte à&nbsp;<a href="{{ $.Site.BaseURL }}etc/{{ .TranslationBaseName }}.pdf" target="_blank" rel="nofollow noopener" data-no-swup>pirater</a>.<br>
    Le zine à&nbsp;<a href="{{ $.Site.BaseURL }}etc/{{ .TranslationBaseName }}-zine.pdf" target="_blank" rel="nofollow noopener" data-no-swup>brûler</a>.<br>
    {{- if $.Params.affiche -}}
    Le verbe à&nbsp;<a href="{{ $.Site.BaseURL }}etc/{{ .TranslationBaseName }}-affiche.pdf" target="_blank" rel="nofollow noopener" data-no-swup>placarder</a>.<br>
    {{- end -}}
    {{- if $.Params.antilivre -}}
    Le monde à&nbsp;<a href="{{ $.Params.antilivre | safeHTML }}" {{- if $.Params.noblink -}}class=""{{- else -}}class="blink"{{- end -}} target="_blank" rel="nofollow noopener" data-no-swup>explorer</a>.<br>
    {{- end -}}
  </div>
  {{ end }}
  {{ end }}

  {{ if eq .Params.poetry true }}
  <div class="poetry{{ if eq .Params.hangindent true }} hangindent{{ end }}">
  {{ partial "typography.html" . }}
  </div>
  {{ else }}
  {{ partial "typography.html" . }}
  {{ end }}

{{ if .Params.notes }}
<div class="article__notes">
<hr>
<br>
{{ .Params.notes | markdownify }}
</div>
{{ end }}
</div>
