<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>{{ if eq .Title .Site.Title }}{{ .Title | markdownify }}{{ else }}{{ .Title | markdownify }} | {{ .Site.Title | markdownify }}{{ end }} | {{ .Site.Params.subtitle }}</title>
<link rel="canonical" href="{{ .Permalink }}">
<meta name="description" content="{{ with .Description | safeHTML }}{{ . }}{{ else }}{{if .IsPage }}{{ .Summary | safeHTML }}{{ else }}{{ with .Site.Params.description | safeHTML }}{{ . }}{{ end }}{{ end }}{{ end }}" />
<meta name="robots" content="index, follow">
<script type="text/javascript"> // Redirection source: https://gitlab.com/gitlab-org/gitlab/issues/302
  function redirect() { if (location.hostname.search('gitlab.io') != -1) { var path; if (location.pathname.lastIndexOf('/', 0) === 0) { path = location.pathname; } else { path = '/' + location.pathname; } location.href = '{{ strings.TrimSuffix "/" .Site.BaseURL }}' + path + location.search + location.hash; }; }; redirect(); document.addEventListener('swup:contentReplaced', (event) => { redirect(); });
</script>
<link rel="preload" href="{{ "/css/fonts/plex-mono/plex-mono-regular.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ "/css/fonts/plex-mono/plex-mono-bold.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ "/css/fonts/plex-mono/plex-mono-italic.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ "/css/fonts/plex-mono/plex-mono-bolditalic.woff2" | absURL }}" as="font" type="font/woff2" crossorigin>
{{- with resources.Get "css/critical.css" | minify }}
<style>{{ .Content | safeCSS }}</style>
{{ end -}}
{{ $css := resources.Get "css/style.css" }}
{{ $style := $css | css.PostCSS | resources.Fingerprint }}
{{- $cssprint := resources.Get "css/print.css" -}}
{{ $styleprint := $cssprint | css.PostCSS | resources.Fingerprint -}}
<link rel="preload" as="style" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" onload="this.onload=null;this.rel='stylesheet'">
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}"></noscript>
<link rel="preload" as="style" href="{{ $styleprint.Permalink }}" integrity="{{ $styleprint.Data.Integrity }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ $styleprint.Permalink }}" integrity="{{ $styleprint.Data.Integrity }}" media="print" onload="this.media='all'">
<noscript><link rel="stylesheet" href="{{ $styleprint.Permalink }}" integrity="{{ $styleprint.Data.Integrity }}" media="print"></noscript>
<link rel="apple-touch-icon" sizes="180x180" href="{{ "/favicon/apple-touch-icon.png" | absURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/favicon/favicon-32x32.png" | absURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/favicon/favicon-16x16.png" | absURL }}">
<link rel="manifest" href="{{ "/favicon/site.webmanifest" | absURL }}">
<link rel="mask-icon" href="{{ "/favicon/safari-pinned-tab.svg" | absURL }}" color="#000000">
<link rel="shortcut icon" href="{{ "/favicon/favicon.ico" | absURL }}">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-config" content="{{ "/favicon/browserconfig.xml" | absURL }}">
<meta name="theme-color" content="#ffffff">
<script type="text/javascript">var _paq = window._paq = window._paq || []; _paq.push(['disableCookies']); _paq.push(['trackPageView']); _paq.push(['enableLinkTracking']); (function() { var u="//www.abrupt.cc/u/"; _paq.push(['setTrackerUrl', u+'matomo.php']); _paq.push(['setSiteId', '5']); var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s); })();</script>
{{- template "_internal/opengraph.html" . -}}
{{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}
