<header class="header__title">
  <div class="header__number swup">
    {{ if eq .Section "404" }}
    {{ if eq .Params.main true }}
    <button class="button button--revue">N={{ .Site.Params.revueChiffre }}</button>
    {{ else }}
    <button class="button button--revue">N={{ index $.Site.Data.revuenumero .Params.numero }}</button>
    {{ end }}
    <button class="button button--hack hidden" aria-label="Hack">&nbsp;</button>
    {{ else }}
    <button class="button button--hack" aria-label="Hack">&nbsp;</button>
    {{ end }}
  </div>
  <h1 class="header__home swup"><a class="baffle" href="{{ .Site.BaseURL }}">{{ .Site.Params.titregraphique }}</a></h1>
</header>

<header class="header__menu">
  <button class="button button--menu" aria-label="Menu">
    <svg class="button__content" version="1.1" viewBox="0 0 80.812 80.812" xmlns="http://www.w3.org/2000/svg">
      <path d="m10.102 80.812-10.102-10.102 30.304-30.304-30.304-30.304 10.102-10.102 30.304 30.304 30.304-30.304 10.102 10.102-30.304 30.304 30.304 30.304-10.102 10.102-30.304-30.304-30.304 30.304"/>
    </svg>
  </button>

  <nav class="header__nav">
    <div class="nav__content">
      <ul class="list">
        {{ range where .Site.Pages "Type" "menu" }}
        {{ if .Params.menutitle }}
        <li><a href="{{ .RelPermalink }}">{{ .Params.menutitle }}</a></li>
        {{ else }}
        <li><a href="{{ .RelPermalink }}">{{ .Name }}</a></li>
        {{end}}
        {{end}}
      </ul>
      <div class="header__explore">
        <a href="{{ $.Site.BaseURL }}explorer">explore.r.</a>
      </div>
      <div class="header__options">
      <button class="button dark-mode">
        <svg version="1.1" viewBox="0 0 114.29 114.29" xmlns="http://www.w3.org/2000/svg">
          <path d="m0 0v114.29h114.29v-114.29h-57.143zm56.697 14.285h43.301v85.713h-43.301z"/>
        </svg>
      </button>
      <button class="button shuffle">
        <svg version="1.1" viewBox="0 0 114.29 114.28" xmlns="http://www.w3.org/2000/svg">
          <path d="m0 0v114.28h114.29v-71.43h-14.283v57.145h-99.998v-28.57h14.285v-57.145h99.996v-14.283z"/>
        </svg>
      </button>
      <button class="button scroll-to-top">
        <svg version="1.1" viewBox="0 0 114.29 114.29" xmlns="http://www.w3.org/2000/svg">
          <path d="m26.84 82.4-10.102-10.102 40.406-40.406 40.406 40.406-10.102 10.102-30.304-30.304-30.304 30.304"/>
        </svg>
        <!-- <svg version="1.1" viewBox="0 0 80.812 50.508" xmlns="http://www.w3.org/2000/svg"> -->
        <!--   <path d="M 10.102,50.508 0,40.406 40.406,0 80.812,40.406 70.71,50.508 40.406,20.204 10.102,50.508"/> -->
        <!-- </svg> -->
      </button>
      </div>
    </div>
  </nav>
</header>
