<nav class="pagination pagination--single">
{{ if or (eq .Type "menu") (eq .Type "404") (eq .Section "meta") }}
{{ else }}
  {{ if .PrevInSection }}
  <a aria-label="prev" class="pagination__nav" href="{{.PrevInSection.Permalink}}">
    <svg version="1.1" viewBox="0 0 50.508 80.812" xmlns="http://www.w3.org/2000/svg">
      <path d="m50.508 70.711-10.102 10.102-40.406-40.406 40.406-40.406 10.102 10.102-30.304 30.304 30.304 30.304"/>
    </svg>
  </a>
  {{ else }}
  <span class="pagination__nav pagination__nav--off">
    <svg version="1.1" viewBox="0 0 50.508 80.812" xmlns="http://www.w3.org/2000/svg">
      <path d="m50.508 70.711-10.102 10.102-40.406-40.406 40.406-40.406 10.102 10.102-30.304 30.304 30.304 30.304"/>
    </svg>
  </span>
  {{ end }}

  {{ if .NextInSection }}
  <a aria-label="next" class="pagination__nav" href="{{ .NextInSection.Permalink }}">
    <svg version="1.1" viewBox="0 0 50.508 80.812" xmlns="http://www.w3.org/2000/svg">
      <path d="m0 10.102 10.102-10.102 40.406 40.406-40.406 40.406-10.102-10.102 30.304-30.304-30.304-30.304"/>
    </svg>
  </a>
  {{ else }}
  <span class="pagination__nav pagination__nav--off">
    <svg version="1.1" viewBox="0 0 50.508 80.812" xmlns="http://www.w3.org/2000/svg">
      <path d="m0 10.102 10.102-10.102 40.406 40.406-40.406 40.406-10.102-10.102 30.304-30.304-30.304-30.304"/>
    </svg>
  </span>
  {{ end }}
{{ end }}
</nav>
