<div class="revue__menu hidden">

<ul class="revue__numeros">
{{ range (where (where .Site.Pages "Section" .Section) "Params.info" true)  }}
{{ if (ne .Params.main true) }}
  <li><a href="{{ .Permalink }}" data-no-swup>{{ .Title }}</a></li>
{{ end }}
{{ end }}
</ul>

</div>
