<h2 class="revue__title revue__title--info"><a class="baffle" href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h2>
<div class="revue__meta">

{{ if .Params.citation }}
<p class="revue__tags">«&nbsp;{{ .Params.citation | markdownify }}&nbsp;»</p>
{{ end }}

{{ if .Params.persona }}
<div class="revue__tags">{{ range .Params.persona }}
  <div class="revue__tags--persona">{{ . | markdownify }}</div>
{{ end }}
</div>
{{ end }}

</div>
