<a rel="me" href="https://mamot.fr/@cestabrupt" style="display:none;" aria-hidden="true"></a>

<div class="swup">
{{ if .Params.javascript }}
  {{- range .Params.javascript -}}
    <script src="{{ $.Site.BaseURL }}js/articles/{{ . | urlize }}" data-swup-reload-script></script>
  {{ end }}
{{ end }}
</div>

{{ $lazy := resources.Get "js/lazyload.min.js" }}
{{ $baffle := resources.Get "js/baffle.js" }}
{{ $swup := resources.Get "js/swup.min.js" }}
{{ $swupscriptsplugin := resources.Get "js/swup.scriptsplugin.min.js" }}
{{ $lunr := resources.Get "js/lunr.min.js" }}
{{ $search := resources.Get "js/search.js" }}
{{ $interact := resources.Get "js/interact.min.js" }}
{{ $smoothscroll := resources.Get "js/smoothscroll.min.js" }}
{{ $global := resources.Get "js/global.js" }}
{{ $js := slice $smoothscroll $swup $swupscriptsplugin $lazy $lunr $baffle $search $global | resources.Concat "js/bundle.js" | resources.Fingerprint }}
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>
