{{ $summary := .Summary }}
{{ $summary = replace $summary " ;" "&nbsp;;" }}
{{ $summary = replace $summary " !" "&nbsp;!" }}
{{ $summary = replace $summary " ?" "&nbsp;?" }}
{{ $summary = replace $summary " :" "&nbsp;:" }}
{{ $summary = replace $summary " %" "&nbsp;%" }}
{{ $summary = replace $summary "&ldquo;" "«&nbsp;" }}
{{ $summary = replace $summary "&rdquo;" "&nbsp;»" }}
{{ $summary = replaceRE `\^([a-zA-Z0-9]+?)\^` `<sup>$1</sup>` $summary }}

<p class="article__summary hyphens">{{ $summary | safeHTML | truncate 1000 "" }}&nbsp;<span class="read-more">[&hellip;]</span></p>

