{{ define "main" }}
  <h1 class="baffle" style="display: inline-flex; align-items: center;justify-content: flex-start; width: 100%;margin: 0;height: var(--menu-height); padding: calc(var(--menu-height) / 2 - 1em) var(--line-space) calc(var(--menu-height) / 2 - 1em) var(--line-space);min-height: calc(var(--menu-height)); border-bottom: var(--border-width) solid var(--color-fg);">error in errore</h1>
  <article style=" margin: 0 var(--line-space);">
    <p class="baffle">404 fois l'erreur</p>
    <p class="baffle">qui plane sur</p>
    <p class="baffle">l’antilittérature.</p>
  </article>
{{ end }}

