{{ define "main" }}
<div class="taxonomy persona transition-fade">

<div class="taxonomy__title">
<div class="taxonomy__title--container">
  <h1 class="baffle">{{ .Title | markdownify }}</h1>
</div>
</div>

<div class="taxonomy__content">
<div class="taxonomy__content--container">
{{ partial "typography.html" . }}
</div>
</div>

</div>

{{ $pages := .Paginate (where (.Site.Pages.ByParam "bio") "Type" "bio") }}
{{ .Scratch.Set "pagination" $pages }}

{{ partial "all-articles.html" . }}

{{ end }}
