@media print {
  @page {
    size: auto;
    margin: 0;
  }

  body {
    margin: 0;
    color: #000;
    background-color: #fff;
    overflow: hidden;
  }

  .container,
  .header__title,
  .article__content,
  .article__info,
  .article__menu {
    border: unset;
    display: block;
    width: 100%;
    height: unset;
    margin: 0;
    background-color: #fff;
  }

  .article__info {
    opacity: 1;
    border-right: unset;
  }

  .article__image,
  .article__image .img-container .img-container--border {
    border: unset;
    border-right: unset;
    margin: 0;
    padding-left: var(--line-space);
  }

  .article__image img {
    /* filter: unset; */
  }

  .article__title {
    page-break-before: always;
  }

  .search + .article__menu .article__title {
    page-break-before: unset;
  }

  .informations {
    text-align: left;
    border: unset;
  }

  .button--article,
  .header__menu,
  .header__nav,
  .header__nav *,
  .search__results,
  .pagination,
  .footer {
    display: none;
  }
}
