/* Class struggle */

.epigraphe {
  text-align: right;
  display: block;
  font-style: italic;
  margin-top: var(--line-space);
  margin-left: 20%;
  /* max-width: var(--max-width); */

  em {
    font-style: normal;
  }
}

.underline {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--color-fg);
}

.droite {
  text-align: right;
  display: block;
  margin-left: 20%;
}

.centre {
  text-align: center;
  display: block;
  margin: var(--line-space) 0%;
}

.youtube {
  margin-top: calc(var(--line-space) - var(--border-width));
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--line-space);
  grid-template-rows: masonry;

  * {
    hyphens: auto;
    word-break: break-word;
    overflow-wrap: anywhere;
  }
}

.two-columns--shift {
  p:nth-child(even) {
    margin-top: calc(5 * var(--line-space));
  }
}

.dialogue {
  margin-left: 10%;
}

.headers--onespace {
  h1,
  h2,
  h3 {
    margin: var(--line-space) 0;
  }
}

@media (min-width: 50em) { /* 800px */
  .dialogue {
    margin-left: 20%;
  }
}

.droite--signature {
  text-align: right;
  display: block;
  margin-right: 10%;
}

.droite--paragraphe {
  text-align: left;
  display: block;
  margin: var(--line-space) 0;
  margin-left: 10%;
}

.droite--italique {
  font-style: italic;

  em {
    font-style: normal;
  }
}

.gauche {
  text-align: left;
  display: block;
}

.gauche--paragraphe {
  text-align: left;
  display: block;
  margin: var(--line-space) 0;
  margin-right: 10%;
}

@media (min-width: 50em) { /* 800px */
  .droite--paragraphe {
    margin-left: 20%;
  }

  .gauche--paragraphe {
    margin-right: 20%;
  }
}

.asterisme {
  text-align: center;
  margin: var(--line-space) 0;
}

.hangindent {
  padding-left: 2em;
  text-indent: -2em;
  margin-right: 0em;
  hyphens: none;

  ol,
  ul {
    text-indent: 0;
  }
}

.poetry p {
  hyphens: none;
  margin: 0;
}

.poetry > p:first-child {
  hyphens: none;
  margin-top: calc(var(--line-space) - 10px);
}

.colonnes {
  display: flex;

  * {
    hyphens: auto;
  }

  .colonnes__gauche {
    display: inline-block;
    flex: 0 0 50%;
    word-break: break-word;
    overflow-wrap: anywhere;
    padding-right: 0.5em;
  }

  .colonnes__droite {
    display: inline-block;
    flex: 0 0 50%;
    word-break: break-word;
    overflow-wrap: anywhere;
    padding-left: 0.5em;
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.button {
  cursor: pointer;
  outline: 0;
  color: var(--color-anim);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button::-moz-focus-inner {
  border: 0;
}

.button:hover,
.button:focus {
  outline: 0;
}

.button:hover .button__content,
.button:focus .button__content {
  outline: 0;
  color: var(--color-fg);
  transform: rotate(180deg);
  transform-origin: center center;
}

.button--anim {
  background: var(--color-anim);
}

.button--link {
  color: var(--color-fg-text);
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--color-anim);
  display: inline;
}

.button--link:hover,
.button--link:focus,
.button--link:active {
  color: var(--color-fg-text);
  background: var(--color-anim);
  outline: none;
  /* text-decoration: none; */
}

.container {
  width: 100%;
  padding: 0;
  margin: 0;
  display: grid;
  grid-gap: 0;
  grid-template-columns: var(--first-column-width) var(--second-column-width) 1fr;
}

.header__title {
  position: fixed;
  /* top: 62vh; */
  bottom: var(--footer-height);
  left: 0;
  margin: 0;
  z-index: 1000;
  width: calc(var(--first-column-width) + var(--second-column-width));
  /* height: calc(38vh - var(--footer-height)); */
  /* height: calc(calc(var(--vh, 1vh) * 38) - var(--footer-height)); */
  height: calc(calc(100vh - var(--footer-height) - var(--menu-height)) / 1.618);
  height: calc(calc(calc(var(--vh, 1vh) * 100) - var(--footer-height) - var(--menu-height)) / 1.618);
  /* max-height: calc(100vh - var(--footer-height) - var(--menu-height)); */
  /* max-height: calc(calc(var(--vh, 1vh) * 100) - var(--footer-height) - var(--menu-height)); */
  border-top: var(--border-width) solid var(--color-fg);
  background: var(--color-bg);
  color: var(--color-fg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  a {
    text-decoration: none;
    color: var(--color-fg);
  }

  a:hover,
  a:focus,
  a:active {
    color: var(--color-anim);
    text-decoration: none;
    background: unset;
  }
}

.header__number {
  border-bottom: var(--border-width) solid var(--color-fg);
  flex-basis: 38%;
  margin: 0;
  width: 100%;
  height: 5em;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.button--revue {
  color: var(--color-fg);
  align-items: flex-end;
  height: 100%;
  width: 100%;
  padding-bottom: 0.5em;
  font-weight: bold;
}

.button--revue:hover,
.button--revue:focus,
.button--revue:active {
  color: var(--color-anim);
}

.button--hack {
  display: block;
  width: 100%;
  height: 100%;
}

.button--hack:hover,
.button--hack:focus,
.button--hack:active {
  background-color: var(--color-anim);
}

.header__home {
  font-size: var(--title-size);
  width: 100%;
  flex-basis: 62%;
  /* max-height: calc(100vh - var(--footer-height) - var(--menu-height)); */
  /* max-height: calc(calc(var(--vh, 1vh) * 100) - var(--footer-height) - var(--menu-height)); */
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  a {
    padding-top: 0.4em;
    /* letter-spacing: 0.2em; */
    writing-mode: vertical-rl;
    text-orientation: upright;
    display: block;
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 50em) and (orientation: landscape) { /* 640px */
  .header__home {
    font-size: 1.2em;

    a {
      padding-top: 0;
      /* letter-spacing: 0.1em; */
      writing-mode: unset;
      text-orientation: unset;
    }
  }
}

.header__menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: calc(var(--first-column-width) + var(--second-column-width));
  height: var(--menu-height);
  background: var(--color-bg);
  border-bottom: var(--border-width) solid var(--color-fg);
  display: flex;
  align-items: center;
  justify-content: center;

  .button--menu {
    height: 100%;
    width: 100%;

    .button__content {
      display: block;
      height: 1em;
      width: auto;
      transition: transform 0.2s linear;
    }
  }
}

.header__nav {
  display: none;
  opacity: 0;
  position: fixed;
  top: calc(var(--menu-height) - var(--border-width));
  left: calc(var(--first-column-width) + var(--second-column-width));
  width: calc(100vw - var(--second-column-width) - var(--first-column-width));
  border-top: var(--border-width) solid var(--color-fg);
  border-left: var(--border-width) solid var(--color-fg);
  border-bottom: var(--border-width) solid var(--color-fg);
  z-index: 500;
  background: var(--color-bg);
  overflow: hidden;
  color: var(--color-fg);

  ul {
    padding: var(--line-space) var(--line-space) 0;
  }

  .button {
    transition: transform 0.5s linear;
    /* height: 1em; */
    padding: var(--line-space) 0;
    color: var(--color-fg);
  }

  .button svg {
    width: 1.2em;
  }

  .button:hover,
  .button:focus {
    outline: 0;
    color: var(--color-anim);
    transform: rotate(360deg);
    transform-origin: center center;
  }

  .header__options {
    /* padding: 0 var(--line-space) var(--line-space); */
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    color: var(--color-fg);
  }

  a:hover,
  a:focus,
  a:active {
    color: var(--color-anim);
    text-decoration: none;
    background: unset;
  }

  .header__explore {
    border-top: var(--border-width) solid var(--color-fg);
    border-bottom: var(--border-width) solid var(--color-fg);
    text-align: left;
    padding: 0.5em;
    width: 100%;
  }
}

.header__nav--show {
  opacity: 1;
  background: var(--color-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}

@media (min-width: 50em) { /* 800px */
  .header__title {
    position: fixed;
    bottom: unset;
    top: 0;
    left: 0;
    margin: 0;
    width: var(--first-column-width);
    max-height: unset;
    min-height: unset;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background: var(--color-bg);
    border-right: var(--border-width) solid var(--color-fg);
    border-top: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
      text-decoration: none;
    }

    a:hover,
    a:focus,
    a:active {
      color: var(--color-anim);
      text-decoration: none;
      background: unset;
    }
  }

  .header__number {
    border-bottom: var(--border-width) solid var(--color-fg);
    flex-basis: 38%;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .header__home {
    width: 100%;
    height: 100%;
    font-size: var(--title-size);
    flex-basis: 62%;
    margin: 0;

    a {
      /* letter-spacing: 0.38em; */
      /* padding-top: 1em; */
    }
  }

  .header__menu {
    position: fixed;
    top: 0;
    left: var(--first-column-width);
    width: var(--second-column-width);
    height: var(--menu-height);
    border-bottom: var(--border-width) solid var(--color-fg);
  }
}

.content {
  background: var(--color-bg);
  grid-column: 3;
  display: block;
  width: 100%;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  border-left: var(--border-width) solid var(--color-fg);
  margin: 0;
  /* padding-bottom: 3.24em; */
}

.content--border {
  z-index: -1;
  background: transparent;
  position: fixed;
  top: 0;
  left: calc(var(--first-column-width) + var(--second-column-width));
  display: block;
  width: 100%;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  border-left: var(--border-width) solid var(--color-fg);
  margin: 0;
  /* padding-bottom: 3.24em; */
}

.article {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);

  > * {
    margin: 0;
    padding: 0 0 0 var(--line-space);
  }
}

.article__title {
  order: 1;
  display: block;
  /* padding: var(--line-space); */
  /* padding: 0 0 0 var(--line-space); */
  padding: calc(var(--menu-height) / 2 - 1em) var(--line-space) calc(var(--menu-height) / 2 - 1em) var(--line-space);
  min-height: calc(var(--menu-height));
  border-bottom: var(--border-width) solid var(--color-fg);
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;

  a {
    padding-right: var(--line-space);
    /* border-right: var(--border-width) solid var(--color-fg); */
    /* min-height: calc(var(--menu-height) - var(--border-width)); */
    /* max-width: 62%; */
    /* min-height: calc(var(--menu-height) - var(--border-width)); */
    /* display: inline-flex; */
    /* justify-content: flex-start; */
    /* align-items: center; */
    font-weight: bold;
    text-decoration: none;
  }

  a:hover,
  a:focus,
  a:active {
    outline: 0;
    color: var(--color-anim);
    background: unset;
  }
}

.article__image {
  order: 2;
  margin: 0;
  padding: 0;
  display: block;
  /* border-top: var(--border-width) solid var(--color-fg); */
  border-bottom: var(--border-width) solid var(--color-fg);
}

.article__info {
  order: 4;
  border-top: var(--border-width) solid var(--color-fg);
  margin-top: auto;

  &--container {
    padding: var(--line-space) var(--line-space) var(--line-space) 0;
    display: inline-flex;
    max-width: 62%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-right: var(--border-width) solid var(--color-fg);
  }
}

.article__persona {
  display: block;
  margin-top: var(--line-space);
  font-style: italic;
  text-align: right;
  /* max-width: var(--max-width); */

  a {
    text-decoration: unset;
  }
}

.download {
  display: inline-block;
  /* justify-content: flex-start; */
  /* align-items: center; */
  max-width: 70%;
  font-style: italic;
  /* text-align: center; */
  margin: var(--line-space) auto 0;
  padding: var(--line-space);
  /* margin: calc(var(--line-space) + 0.62em) auto var(--line-space); */
  border: var(--border-width) solid var(--color-fg);
  overflow: hidden;

  a {
    /* height: 100%; */
    margin: 0;
    /* padding: var(--line-space); */
    overflow: hidden;
    color: var(--color-fg-text);
  }

/*   a:hover, */
/*   a:focus, */
/*   a:active { */
/*     color: var(--color-fg); */
/*     background: unset; */
/*   } */

  .blink {
    text-decoration: none;
    animation: blink 2s linear infinite;
  }

  .blink:hover,
  .blink:focus,
  .blink:active {
    animation: unset;
    color: var(--color-fg);
    background: var(--color-anim);
    outline: none;
  }
}

.download {
  + h1,
  + h2,
  + h3 {
    margin: var(--line-space) 0;
  }
}

.nohyphens {
  hyphens: none;
}

.article__content {
  order: 3;
  /* max-width: 76.4%; */
  max-width: var(--max-width);
  padding: 0 var(--line-space) var(--line-space);
}

.article__notes {
  font-style: italic;
  padding: 0;
  margin: var(--line-space) 0 0;
  max-width: var(--max-width);

  em {
    font-style: normal;
  }

  p {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 50em) {
  .article__title {
    padding: 0 0 0 var(--line-space);
  }
}

.img-container {
  display: flex;
  justify-content: flex-start;

  .img-container--border {
    border-right: var(--border-width) solid var(--color-fg);
    padding: 0;
    margin: 0;
  }

  img {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: block;
    height: auto;
    max-height: 50vh;
    max-width: 76.4%;
    filter: unset;
    text-align: center;
    vertical-align: middle;
    line-height: 0;
    color: var(--color-bg);
    background: var(--color-bg);
  }

  img:hover {
    filter: url(#duotone);
  }
}

.nav__content {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: right;
  height: 100%;
  width: 100%;
  max-width: 90%;
  border-left: var(--border-width) solid var(--color-fg);
  overflow: hidden;

  .list {
    border-right: var(--border-width) solid var(--color-fg);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    list-style: none;
    margin: 0;
    padding: 0.5em;
    height: 100%;
  }
}

@media (min-width: 90em) {
  /* 1440px */
  .header__nav {
    position: fixed;
    top: var(--menu-height);
    left: var(--first-column-width);
    width: var(--second-column-width);
    border-top: unset;
    border-left: unset;
    border-bottom: var(--border-width) solid var(--color-fg);
  }

  .header__nav--show {
    align-items: flex-end;
  }

  .nav__content {
    border-right: unset;
    width: 100%;
  }
}

.pagination {
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(var(--first-column-width) + var(--second-column-width));
  height: var(--footer-height);
  z-index: 100;
  background: var(--color-bg);
  border-top: var(--border-width) solid var(--color-fg);
  display: flex;
  justify-content: space-around;
  align-items: center;

  svg {
    transition: transform 0.2s linear;
    height: 1em;
  }

  a {
    color: var(--color-anim);
    font-weight: bold;
    text-decoration: none;
    transition: transform 0.2s linear;
  }

  a:hover,
  a:focus,
  a:active {
    outline: 0;
    color: var(--color-fg);
    background: unset;
  }

  a:hover svg,
  a:focus svg,
  a:active svg {
    fill: var(--color-fg);
    transform: rotate(-90deg);
    transform-origin: center center;
  }
}

.pagination__nav {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination__nav:first-child {
  flex-basis: 50%;
  justify-content: flex-start;
  padding-left: 0.5em;
}

.pagination__nav:last-child {
  flex-basis: 50%;
  justify-content: flex-end;
  padding-right: 0.5em;
}

@media (min-width: 50em) {
  /* 800px */
  .pagination {
    left: var(--first-column-width);
    width: var(--second-column-width);
    justify-content: space-between;
  }

  .pagination__nav:first-child {
    padding-left: var(--line-space);
    margin-bottom: unset;
  }

  .pagination__nav:last-child {
    padding-right: var(--line-space);
    margin-bottom: unset;
  }
}

.pagination__nav--off {
  color: var(--color-light-fg);
}

.taxonomy {
  &__title {
    border-bottom: var(--border-width) solid var(--color-fg);
    height: var(--menu-height);

    &--container {
      height: 100%;
      display: inline-flex;
      align-items: center;
      padding: 0 var(--line-space);
      border-right: var(--border-width) solid var(--color-fg);
    }

    h1 {
      display: inline-block;
      margin: 0;
    }
  }

  &__image {
    margin: 0;
    padding: 0;
    display: block;
    border-bottom: var(--border-width) solid var(--color-fg);

    .img-container {
      display: flex;
      justify-content: flex-start;

      .img-container--border {
        border-right: var(--border-width) solid var(--color-fg);
        padding: 0;
        margin: 0;
      }

      img {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        display: block;
        max-height: 62vh;
        max-width: 76.4%;
        filter: unset;
        text-align: center;
        vertical-align: middle;
        line-height: 0;
        color: var(--color-bg);
        background: var(--color-bg);
      }

      img:hover {
        filter: url(#duotone);
      }
    }
  }

  &__content {
    padding-left: var(--line-space);
    border-bottom: var(--border-width) solid var(--color-fg);

    &--container {
      height: 100%;
      display: inline-flex;
      flex-direction: column;
      justify-content: flex-start;
      max-width: 76.4%;
      align-items: flex-start;
      border-right: var(--border-width) solid var(--color-fg);
      padding-right: var(--line-space);
      padding-top: var(--line-space);

      p {
        margin: 0 0 var(--line-space) 0;
      }
    }
  }
}

.youtube {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.nomargin {
  margin: 0;
  padding: 0;
}

.hyphens {
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

.footnotes {
  font-size: 0.8em;
  max-width: var(--max-width);
  margin: 0;

  ol {
    padding: 0;
    margin-top: var(--line-space);
    margin-left: var(--line-space);
  }

  li {
    margin-top: 1em;
  }
}

.footnote-backref,
.footnote-ref,
.footnote-ref a[href^='#fn:'] {
  margin-left: 0.2em;
  text-decoration: none;
  color: var(--color-anim);
}

.footnote-ref:hover,
.footnote-ref:focus,
.footnote-ref:active,
.footnote-backref:hover,
.footnote-backref:focus,
.footnote-backref:active,
.footnote-ref a[href^='#fn:']:hover,
.footnote-ref a[href^='#fn:']:focus,
.footnote-ref a[href^='#fn:']:active {
  color: var(--color-fg);
  text-decoration: none;
}

.footnotes p {
  margin: 0;
}

.footnotes p:last-of-type {
  margin-bottom: 0;
  display: inline;
}

.footnote-return {
  text-decoration: none;
  color: var(--color-anim);
  font-style: normal;
}

.footnote-return:hover,
.footnote-return:focus,
.footnote-return:active {
  color: var(--color-fg);
  text-decoration: none;
}

.hidden {
  position: absolute;
  top: 0;
  right: 100%;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.noscroll {
  overflow: hidden;
}

.explore {
  margin: 0;
  padding: 0;

  .explore__title {
    margin: 0;
    padding: 0 var(--line-space);
    display: flex;
    align-items: center;
    height: calc(var(--menu-height) - var(--border-width));

    a {
      text-decoration: none;
      color: var(--color-fg-text);
    }

    a:hover,
    a:focus,
    a:active {
      color: var(--color-anim);
      text-decoration: none;
      background: unset;
    }
  }

  .explore__title--result {
    padding: 0;
    height: unset;
    margin: var(--line-space) 0;
  }

  .explore__results {
    padding: 0 var(--line-space) var(--line-space);
    max-width: var(--max-width);
  }

  .explore__description {
    padding: 0 var(--line-space);
  }

  .explore__summary {
    margin: 0;
  }

  .explore__search {
    width: 100%;
  }

  .explore__input {
    appearance: none;
    width: 100%;
    max-width: 100%;
    height: 3.2em;
    font-family: inherit;
    font-size: inherit;
    font-weight: normal;
    border: 0;
    border-bottom: var(--border-width) solid var(--color-fg);
    border-top: var(--border-width) solid var(--color-fg);
    background: none;
    border-radius: 0;
    margin: 0;
    padding: 0.5em var(--line-space);
    color: var(--color-fg);
    text-align: left;
    outline: none;
  }

  .explore__input:hover,
  .explore__input:focus,
  .explore__input:active {
    outline: none;
    border-bottom: var(--border-width) solid var(--color-anim);
    border-top: var(--border-width) solid var(--color-anim);
  }

  .read-more {
    a {
      text-decoration: none;
      color: var(--color-anim);
    }

    a:hover,
    a:focus,
    a:active {
      color: var(--color-fg);
      text-decoration: none;
      background: unset;
    }
  }

  .noresult {
    margin: 0;
    padding: var(--line-space) 0;
  }
}

@media (min-width: 50em) { /* 800px */
  /* .explore { */
  /*   padding: var(--line-space) var(--line-space) 0; */
  /* } */

  /* .explore:first-child .explore__title { */
  /*   padding: 0 0 var(--line-space); */
  /* } */
}

.button--action,
.button--melange,
.button--music,
.button--sententiae {
  hyphens: none;
  overflow: hidden;
  justify-content: center;
  margin: var(--line-space) 0;
  /* height: calc(4 * var(--line-space)); */
  padding: 0.25em var(--line-space);
  /* border-top: var(--border-width) solid var(--color-fg); */
  /* border-bottom: var(--border-width) solid var(--color-fg); */
  /* border-right: var(--border-width) solid var(--color-fg); */
  border: var(--border-width) solid var(--color-fg);
  width: 90%;
  color: var(--color-fg-text);
  background: var(--color-bg);
}

@media (min-width: 50em) {
  /* 800px */
  .button--action,
  .button--melange,
  .button--music,
  .button--sententiae {
    width: 62%;
  }
}

.button--action:hover,
.button--action:active,
.button--action:focus,
.button--melange:hover,
.button--melange:active,
.button--melange:focus,
.button--music:hover,
.button--music:active,
.button--music:focus,
.button--sententiae:hover,
.button--sententiae:active,
.button--sententiae:focus {
  outline: 0;
  /* border-top: var(--border-width) solid var(--color-anim); */
  /* border-bottom: var(--border-width) solid var(--color-anim); */
  /* border-right: var(--border-width) solid var(--color-anim); */
  border: var(--border-width) solid var(--color-anim);
}

.select--sententiae {
  border-right: var(--border-width) solid var(--color-fg);
  border-left: var(--border-width) solid var(--color-fg);
  padding: 0.25em var(--line-space) 0.25em calc(var(--line-space) - 0.25em);
  text-align: center;
}

.select--sententiae:hover,
.select--sententiae:active,
.select--sententiae:focus {
  border-right: var(--border-width) solid var(--color-anim);
  border-left: var(--border-width) solid var(--color-anim);
}

.grid {
  grid-column: 3;
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  grid-template-rows: repeat(71, calc(var(--menu-height) / 1.618));
  /* grid-template-rows: repeat(71, var(--menu-height)); */
  max-width: unset;
}

.grid-article {
  display: block;
  margin: 0;
  padding: 0;
  background: var(--color-bg);
  width: 100%;
  height: 100%;

  .grid-article__info {
    display: none;
    position: fixed;
    background: var(--color-bg);
    top: var(--menu-height);
    left: 0;
    height: calc(calc(100vh - var(--footer-height) - var(--menu-height)) / 2.618);
    height: calc(calc(calc(var(--vh, 1vh) * 100) - var(--footer-height) - var(--menu-height)) / 2.618);
    width: calc(var(--first-column-width) + var(--second-column-width));

    &:after {
      padding-right: var(--line-space);
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(var(--color-bg-rgb), 0), rgba(var(--color-bg-rgb), 1) 90%);
    }

    .grid-article__meta {
      display: block;
      overflow-wrap: break-word;
    }
  }

  .grid-article__title {
    margin: 0;
    padding: 0;
    display: block;
    overflow-wrap: break-word;
  }

  .grid-article__image {
    display: block;
    width: 100%;
    height: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin: 0;
      padding: 0;
      filter: unset;
      text-align: center;
      vertical-align: middle;
      line-height: 0;
      color: var(--color-bg);
      background: var(--color-bg);
    }
  }
}

.article__summary {
  margin: var(--line-space) 0 0;
}

.grid__item--taxonomy.grid-article {
  margin: 0;
  padding: 0;
  /* background: var(--color-bg); */
  width: 100%;
  height: 100%;

  .grid-article__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: unset;
    position: relative;
  }

  .grid-article__title {
    z-index: 1;
    position: absolute;
    margin: 0;
    padding: 0;
    /* color: #fff; */
  }

  .grid-article__image {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 50em) {
  .grid-article .grid-article__info {
    display: none;
    top: var(--menu-height);
    left: var(--first-column-width);
    height: calc(100vh - var(--menu-height) - var(--footer-height));
    height: calc(calc(var(--vh, 1vh) * 100) - var(--menu-height) - var(--footer-height));
    width: var(--second-column-width);
  }
}

.grid__item {
  height: 100%;
  border-bottom: var(--border-width) solid var(--color-fg);
  border-right: var(--border-width) solid var(--color-fg);
  background-size: cover;
  overflow: hidden;
}

.grid-article__link {
  display: block;
  width: 100%;
  height: 100%;
}

.grid-article__link:hover,
.grid-article__link:active,
.grid-article__link:focus {
  .grid-article__info {
    display: block;
    padding: 0.3em;
    overflow: hidden;
    hyphens: auto;
  }
  .grid-article__image img {
    filter: url(#duotone);
  }
}
.grid-article:nth-of-type(1) {
  grid-column: 3 / span 8;
  grid-row: 2 / span 6;
}

.grid-article:nth-of-type(2) {
  grid-column: 7 / span 8;
  grid-row: 9 / span 6;
}

.grid-article:nth-of-type(3) {
  grid-column: 2 / span 8;
  grid-row: 16 / span 6;
}

.grid-article:nth-of-type(4) {
  grid-column: 9 / span 8;
  grid-row: 23 / span 6;
}

.grid-article:nth-of-type(5) {
  grid-column: 4 / span 8;
  grid-row: 30 / span 6;
}

.grid-article:nth-of-type(6) {
  grid-column: 6 / span 8;
  grid-row: 37 / span 6;
}

.grid-article:nth-of-type(7) {
  grid-column: 2 / span 8;
  grid-row: 44 / span 6;
}

.grid-article:nth-of-type(8) {
  grid-column: 8 / span 8;
  grid-row: 51 / span 6;
}

.grid-article:nth-of-type(9) {
  grid-column: 4 / span 8;
  grid-row: 58 / span 6;
}

.grid-article:nth-of-type(10) {
  grid-column: 9 / span 8;
  grid-row: 65 / span 6;
}

.grid-article:nth-of-type(1n + 11) {
  display: none;
}

.grid__space:nth-of-type(31n + 1) {
  grid-column: 1 / span 2;
  grid-row: 1 / span 7;
}

.grid__space:nth-of-type(31n + 2) {
  grid-column: 3 / span 15;
  grid-row: 1 / span 1;
  border-right: unset;
}

.grid__space:nth-of-type(31n + 3) {
  grid-column: 1 / span 14;
  grid-row: 8 / span 1;
}

.grid__space:nth-of-type(31n + 4) {
  grid-column: 11 / span 4;
  grid-row: 2 / span 6;
}

.grid__space:nth-of-type(31n + 5) {
  grid-column: 15 / span 3;
  grid-row: 2 / span 13;
  border-right: unset;
}

.grid__space:nth-of-type(31n + 6) {
  grid-column: 2 / span 5;
  grid-row: 9 / span 6;
}

.grid__space:nth-of-type(31n + 7) {
  grid-column: 2 / span 8;
  grid-row: 15 / span 1;
}

.grid__space:nth-of-type(31n + 8) {
  grid-column: 1 / span 1;
  grid-row: 9 / span 13;
}

.grid__space:nth-of-type(31n + 9) {
  grid-column: 10 / span 8;
  grid-row: 15 / span 8;
  border-right: unset;
}

.grid__space:nth-of-type(31n + 10) {
  grid-column: 17 / span 1;
  grid-row: 23 / span 6;
  border-right: unset;
}

.grid__space:nth-of-type(31n + 11) {
  grid-column: 1 / span 17;
  grid-row: 29 / span 1;
  border-right: unset;
}

.grid__space:nth-of-type(31n + 12) {
  grid-column: 12 / span 6;
  grid-row: 30 / span 6;
  border-right: unset;
}

.grid__space:nth-of-type(31n + 13) {
  grid-column: 1 / span 3;
  grid-row: 30 / span 6;
}

.grid__space:nth-of-type(31n + 14) {
  grid-column: 6 / span 12;
  grid-row: 36 / span 1;
  border-right: unset;
}

.grid__space:nth-of-type(31n + 15) {
  grid-column: 1 / span 5;
  grid-row: 36 / span 7;
}

.grid__space:nth-of-type(31n + 16) {
  grid-column: 14 / span 4;
  grid-row: 37 / span 13;
  border-right: unset;
}

.grid__space:nth-of-type(31n + 17) {
  grid-column: 1 / span 9;
  grid-row: 43 / span 1;
}

.grid__space:nth-of-type(31n + 18) {
  grid-column: 10 / span 4;
  grid-row: 43 / span 7;
}

.grid__space:nth-of-type(31n + 19) {
  grid-column: 1 / span 1;
  grid-row: 44 / span 6;
}

.grid__space:nth-of-type(31n + 20) {
  grid-column: 1 / span 17;
  grid-row: 50 / span 1;
  border-right: unset;
}

.grid__space:nth-of-type(31n + 21) {
  grid-column: 16 / span 2;
  grid-row: 51 / span 6;
  border-right: unset;
}

.grid__space:nth-of-type(31n + 22) {
  grid-column: 1 / span 7;
  grid-row: 51 / span 6;
}

.grid__space:nth-of-type(31n + 23) {
  grid-column: 1 / span 11;
  grid-row: 57 / span 1;
}

.grid__space:nth-of-type(31n + 24) {
  grid-column: 12 / span 5;
  grid-row: 57 / span 7;
}

.grid__space:nth-of-type(31n + 25) {
  grid-column: 9 / span 8;
  grid-row: 64 / span 1;
}

.grid__space:nth-of-type(31n + 26) {
  grid-column: 4 / span 5;
  grid-row: 64 / span 7;
}

.grid__space:nth-of-type(31n + 27) {
  grid-column: 1 / span 3;
  grid-row: 58 / span 13;
}

.grid__space:nth-of-type(31n + 28) {
  grid-column: 1 / span 16;
  grid-row: 71 / span 1;
  border-bottom: unset;
}

.grid__space:nth-of-type(31n + 29) {
  grid-column: 17 / span 1;
  grid-row: 57 / span 15;
  border-right: unset;
  border-bottom: unset;
}

.grid__space:nth-of-type(31n + 30) {
  grid-column: 1 / span 9;
  grid-row: 22 / span 1;
}

.grid__space:nth-of-type(31n + 31) {
  grid-column: 1 / span 8;
  grid-row: 23 / span 6;
}

@media (min-width: 50em) {
  /* 800px */
  .grid {
    grid-template-columns: repeat(17, 1fr);
    /* grid-template-rows: repeat(30, calc(var(--menu-height) / 1.618)); */
    grid-template-rows: repeat(30, var(--menu-height));
  }

  .grid-article:nth-of-type(1) {
    grid-column: 3 / span 5;
    grid-row: 2 / span 4;
  }

  .grid-article:nth-of-type(2) {
    grid-column: 11 / span 5;
    grid-row: 3 / span 4;
  }

  .grid-article:nth-of-type(3) {
    grid-column: 3 / span 5;
    grid-row: 7 / span 4;
  }

  .grid-article:nth-of-type(4) {
    grid-column: 10 / span 5;
    grid-row: 9 / span 4;
  }

  .grid-article:nth-of-type(5) {
    grid-column: 2 / span 5;
    grid-row: 15 / span 4;
  }

  .grid-article:nth-of-type(6) {
    grid-column: 11 / span 5;
    grid-row: 14 / span 4;
  }

  .grid-article:nth-of-type(7) {
    grid-column: 3 / span 5;
    grid-row: 20 / span 4;
  }

  .grid-article:nth-of-type(8) {
    grid-column: 10 / span 5;
    grid-row: 19 / span 4;
  }

  .grid-article:nth-of-type(9) {
    grid-column: 2 / span 5;
    grid-row: 25 / span 4;
  }

  .grid-article:nth-of-type(10) {
    grid-column: 11 / span 5;
    grid-row: 26 / span 4;
  }

  .grid-article:nth-of-type(1n + 11) {
    display: none;
  }

  .grid__space:nth-of-type(31n + 1) {
    grid-column: 1 / span 7;
    grid-row: 1 / span 1;
  }

  .grid__space:nth-of-type(31n + 2) {
    grid-column: 8 / span 3;
    grid-row: 1 / span 5;
    border-right: var(--border-width) solid var(--color-fg);
  }

  .grid__space:nth-of-type(31n + 3) {
    grid-column: 11 / span 7;
    grid-row: 1 / span 2;
    border-right: unset;
  }

  .grid__space:nth-of-type(31n + 4) {
    grid-column: 1 / span 2;
    grid-row: 2 / span 9;
  }

  .grid__space:nth-of-type(31n + 5) {
    grid-column: 3 / span 8;
    grid-row: 6 / span 1;
    border-right: var(--border-width) solid var(--color-fg);
  }

  .grid__space:nth-of-type(31n + 6) {
    grid-column: 8 / span 3;
    grid-row: 7 / span 2;
  }

  .grid__space:nth-of-type(31n + 7) {
    grid-column: 1 / span 2;
    grid-row: 20 / span 4;
  }

  .grid__space:nth-of-type(31n + 8) {
    grid-column: 1 / span 1;
    grid-row: 25 / span 4;
  }

  .grid__space:nth-of-type(31n + 9) {
    grid-column: 16 / span 2;
    grid-row: 3 / span 4;
    border-right: unset;
  }

  .grid__space:nth-of-type(31n + 10) {
    grid-column: 15 / span 3;
    grid-row: 9 / span 4;
    border-right: unset;
  }

  .grid__space:nth-of-type(31n + 11) {
    grid-column: 11 / span 7;
    grid-row: 7 / span 2;
    border-right: unset;
  }

  .grid__space:nth-of-type(31n + 12) {
    grid-column: 16 / span 2;
    grid-row: 14 / span 4;
    border-right: unset;
  }

  .grid__space:nth-of-type(31n + 13) {
    grid-column: 11 / span 7;
    grid-row: 13 / span 1;
    border-right: unset;
  }

  .grid__space:nth-of-type(31n + 14) {
    grid-column: 7 / span 1;
    grid-row: 11 / span 2;
    border-right: var(--border-width) solid var(--color-fg);
  }

  .grid__space:nth-of-type(31n + 15) {
    grid-column: 1 / span 6;
    grid-row: 11 / span 4;
  }

  .grid__space:nth-of-type(31n + 16) {
    grid-column: 8 / span 2;
    grid-row: 9 / span 4;
    border-right: var(--border-width) solid var(--color-fg);
  }

  .grid__space:nth-of-type(31n + 17) {
    grid-column: 7 / span 4;
    grid-row: 13 / span 5;
  }

  .grid__space:nth-of-type(31n + 18) {
    grid-column: 1 / span 1;
    grid-row: 15 / span 4;
  }

  .grid__space:nth-of-type(31n + 19) {
    grid-column: 7 / span 8;
    grid-row: 18 / span 1;
  }

  .grid__space:nth-of-type(31n + 20) {
    grid-column: 1 / span 7;
    grid-row: 19 / span 1;
    border-right: var(--border-width) solid var(--color-fg);
  }

  .grid__space:nth-of-type(31n + 21) {
    grid-column: 8 / span 2;
    grid-row: 19 / span 4;
    border-right: var(--border-width) solid var(--color-fg);
  }

  .grid__space:nth-of-type(31n + 22) {
    grid-column: 15 / span 3;
    grid-row: 18 / span 5;
    border-right: unset;
  }

  .grid__space:nth-of-type(31n + 23) {
    grid-column: 1 / span 7;
    grid-row: 24 / span 1;
  }

  .grid__space:nth-of-type(31n + 24) {
    grid-column: 8 / span 3;
    grid-row: 23 / span 2;
  }

  .grid__space:nth-of-type(31n + 25) {
    grid-column: 11 / span 5;
    grid-row: 23 / span 3;
  }

  .grid__space:nth-of-type(31n + 26) {
    grid-column: 16 / span 2;
    grid-row: 23 / span 7;
    border-right: unset;
  }

  .grid__space:nth-of-type(31n + 27) {
    grid-column: 7 / span 4;
    grid-row: 25 / span 5;
  }

  .grid__space:nth-of-type(31n + 28) {
    grid-column: 1 / span 6;
    grid-row: 29 / span 2;
    border-bottom: unset;
  }

  .grid__space:nth-of-type(31n + 29) {
    grid-column: 7 / span 11;
    grid-row: 30 / span 1;
    border-right: unset;
    border-bottom: unset;
  }

  .grid__space:nth-of-type(31n + 30),
  .grid__space:nth-of-type(31n + 31) {
    display: none;
  }
}

@media (min-width: 90em) {
  /* 1440px */
  .grid {
    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: repeat(18, var(--menu-height));
  }

  .grid-article:nth-of-type(1) {
    grid-column: 3 / span 3;
    grid-row: 2 / span 3;
  }

  .grid-article:nth-of-type(2) {
    grid-column: 7 / span 3;
    grid-row: 4 / span 3;
  }

  .grid-article:nth-of-type(3) {
    grid-column: 12 / span 3;
    grid-row: 3 / span 3;
  }

  .grid-article:nth-of-type(4) {
    grid-column: 2 / span 3;
    grid-row: 6 / span 3;
  }

  .grid-article:nth-of-type(5) {
    grid-column: 9 / span 3;
    grid-row: 8 / span 3;
  }

  .grid-article:nth-of-type(6) {
    grid-column: 14 / span 3;
    grid-row: 7 / span 3;
  }

  .grid-article:nth-of-type(7) {
    grid-column: 3 / span 3;
    grid-row: 10 / span 3;
  }

  .grid-article:nth-of-type(8) {
    grid-column: 13 / span 3;
    grid-row: 11 / span 3;
  }

  .grid-article:nth-of-type(9) {
    grid-column: 7 / span 3;
    grid-row: 13 / span 3;
  }

  .grid-article:nth-of-type(10) {
    grid-column: 14 / span 3;
    grid-row: 15 / span 3;
  }

  .grid-article:nth-of-type(1n + 11) {
    display: none;
  }

  .grid__space:nth-of-type(31n + 1) {
    grid-column: 1 / span 9;
    grid-row: 1 / span 1;
  }

  .grid__space:nth-of-type(31n + 2) {
    grid-column: 10 / span 2;
    grid-row: 1 / span 6;
  }

  .grid__space:nth-of-type(31n + 3) {
    grid-column: 12 / span 6;
    grid-row: 1 / span 2;
    border-right: unset;
  }

  .grid__space:nth-of-type(31n + 4) {
    grid-column: 1 / span 2;
    grid-row: 2 / span 3;
  }

  .grid__space:nth-of-type(31n + 5) {
    grid-column: 6 / span 1;
    grid-row: 2 / span 5;
  }

  .grid__space:nth-of-type(31n + 6) {
    grid-column: 7 / span 3;
    grid-row: 2 / span 2;
  }

  .grid__space:nth-of-type(31n + 7) {
    grid-column: 15 / span 3;
    grid-row: 3 / span 2;
    border-right: unset;
  }

  .grid__space:nth-of-type(31n + 8) {
    grid-column: 1 / span 1;
    grid-row: 5 / span 4;
  }

  .grid__space:nth-of-type(31n + 9) {
    grid-column: 2 / span 4;
    grid-row: 5 / span 1;
    border-right: var(--border-width) solid var(--color-fg);
  }

  .grid__space:nth-of-type(31n + 10) {
    grid-column: 12 / span 3;
    grid-row: 6 / span 1;
    border-right: var(--border-width) solid var(--color-fg);
  }

  .grid__space:nth-of-type(31n + 11) {
    grid-column: 15 / span 3;
    grid-row: 5 / span 2;
    border-right: unset;
  }

  .grid__space:nth-of-type(31n + 12) {
    grid-column: 5 / span 1;
    grid-row: 6 / span 4;
    border-right: var(--border-width) solid var(--color-fg);
  }

  .grid__space:nth-of-type(31n + 13) {
    grid-column: 6 / span 8;
    grid-row: 7 / span 1;
    border-right: var(--border-width) solid var(--color-fg);
  }

  .grid__space:nth-of-type(31n + 14) {
    grid-column: 17 / span 1;
    grid-row: 7 / span 11;
    border-right: unset;
  }

  .grid__space:nth-of-type(31n + 15) {
    grid-column: 1 / span 4;
    grid-row: 9 / span 1;
  }

  .grid__space:nth-of-type(31n + 16) {
    grid-column: 6 / span 2;
    grid-row: 8 / span 5;
  }

  .grid__space:nth-of-type(31n + 17) {
    grid-column: 8 / span 1;
    grid-row: 8 / span 3;
  }

  .grid__space:nth-of-type(31n + 18) {
    grid-column: 12 / span 2;
    grid-row: 8 / span 2;
  }

  .grid__space:nth-of-type(31n + 19) {
    grid-column: 12 / span 5;
    grid-row: 10 / span 1;
  }

  .grid__space:nth-of-type(31n + 20) {
    grid-column: 1 / span 2;
    grid-row: 10 / span 7;
  }

  .grid__space:nth-of-type(31n + 21) {
    grid-column: 8 / span 5;
    grid-row: 11 / span 2;
  }

  .grid__space:nth-of-type(31n + 22) {
    grid-column: 16 / span 1;
    grid-row: 11 / span 3;
    border-right: var(--border-width) solid var(--color-fg);
  }

  .grid__space:nth-of-type(31n + 23) {
    grid-column: 3 / span 4;
    grid-row: 13 / span 4;
  }

  .grid__space:nth-of-type(31n + 24) {
    grid-column: 10 / span 3;
    grid-row: 13 / span 3;
  }

  .grid__space:nth-of-type(31n + 25) {
    grid-column: 13 / span 4;
    grid-row: 14 / span 1;
  }

  .grid__space:nth-of-type(31n + 26) {
    grid-column: 13 / span 1;
    grid-row: 15 / span 2;
    border-right: var(--border-width) solid var(--color-fg);
  }

  .grid__space:nth-of-type(31n + 27) {
    grid-column: 7 / span 6;
    grid-row: 16 / span 1;
  }

  .grid__space:nth-of-type(31n + 28) {
    grid-column: 1 / span 13;
    grid-row: 17 / span 2;
    border-bottom: unset;
  }

  .grid__space:nth-of-type(31n + 29) {
    grid-column: 14 / span 4;
    grid-row: 18 / span 1;
    /* border-right: unset; */
    /* border-bottom: unset; */
  }
  .grid__space:nth-of-type(31n + 30),
  .grid__space:nth-of-type(31n + 31) {
    display: none;
  }
}

.revue__menu {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: calc(var(--first-column-width) + var(--second-column-width) + var(--border-width));
  width: calc(100vw - var(--first-column-width) - var(--second-column-width) - var(--border-width));
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;

  .revue__numeros {
    margin: 0 auto;
    padding: 0;
    list-style: none;

    li {
      text-align: center;
      font-size: var(--title-size);
      margin: var(--line-space);
      font-weight: bold;
    }

    a {
      text-decoration: none;
      color: var(--color-fg-text);
    }

    a:hover,
    a:focus,
    a:active {
      color: var(--color-anim);
      text-decoration: none;
      background: unset;
    }
  }
}

.revue {
  padding: 0;
  margin: 0;
}

.drag,
.drag * {
  touch-action: none;
  user-select: none;
}


.revue.revue--table {
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  overflow: hidden;
}

.revue__item {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  border: var(--border-width) solid var(--color-fg);
  background: var(--color-bg);
  /* background-clip: border-box; */
  background-clip: padding-box;
  width: unset;
  /* max-width: 320px; */
  max-width: calc(calc(100vw - var(--second-column-width) - var(--first-column-width)) / 1.73);
  max-width: min(calc(calc(100vw - var(--second-column-width) - var(--first-column-width)) / 1.73), 400px);
  position: absolute;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.revue__title {
  margin: 0;
  padding: 2rem;
  text-align: center;
  display: inline-block;
  background: var(--color-bg);

  &--info {
    border-bottom: var(--border-width) solid var(--color-fg);
    padding: 0;
  }

  a {
    text-decoration: none;
    color: var(--color-fg-text);
    display: inline-block;
    padding: 0.5em;
    width: 100%;
    height: 100%;
  }

  a:hover,
  a:focus,
  a:active {
    color: var(--color-anim);
    text-decoration: none;
    background: unset;
  }
}

.button--item {
  position: absolute;
  top: calc(-1 * var(--border-width));
  left: calc(calc(-2 * var(--border-width)) + -1em + -0.3em + -0.3em);
  padding: 0.3em;
  margin: 0 1.3em 0 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  background: var(--color-bg);
  background-clip: padding-box;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  border-left: var(--border-width) solid var(--color-fg);
  border-bottom: var(--border-width) solid var(--color-fg);
  border-top: var(--border-width) solid var(--color-fg);
  overflow: hidden;

  .button__content {
    display: block;
    height: 1em;
    width: auto;
    transition: transform 0.2s linear;
  }
}

/* .revue__image { */
/*   display: none; */
/*   /1* -webkit-backface-visibility: hidden; *1/ */
/*   /1* -webkit-transform: translateZ(0) scale(1.0, 1.0); *1/ */
/*   margin: var(--line-space) 0 0; */
/*   padding: 0; */
/*   width: 100%; */
/*   height: 100%; */
/*   /1* border-bottom: var(--border-width) solid var(--color-fg); *1/ */
/*   border-top: var(--border-width) solid var(--color-fg); */

/*   .image { */
/*     /1* -webkit-backface-visibility: hidden; *1/ */
/*     /1* -webkit-transform: translateZ(0) scale(1.0, 1.0); *1/ */
/*     background: var(--color-bg); */
/*     border-right: var(--border-width) solid var(--color-fg); */
/*     display: block; */
/*     margin: 0; */
/*     padding: 0; */
/*     /1* max-height: 400px; *1/ */
/*     max-width: 70%; */
/*     /1* object-fit: cover; *1/ */
/*     /1* object-position: 50% 50%; *1/ */
/*     /1* background-clip: padding-box; *1/ */
/*     /1* background-clip: border-box; *1/ */
/*     /1* box-sizing: border-box; *1/ */
/*   } */
/* } */

.revue__info {
  display: none;
}

.revue__info--show {
  display: inline-flex;
  flex-direction: column;
  /* flex-direction: row; */
  list-style: none;
  /* word-break: break-all; */
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: calc(-1 * var(--border-width));
  border-top: var(--border-width) solid var(--color-fg);
  border-bottom: var(--border-width) solid var(--color-fg);
  border-left: var(--border-width) solid var(--color-fg);
  border-right: var(--border-width) solid var(--color-fg);
  width: calc(calc(100vw - var(--second-column-width) - var(--first-column-width)) / 1.618);
  width: min(calc(calc(100vw - var(--second-column-width) - var(--first-column-width)) / 1.618), 500px);
  /* left: 100%; */
  /* top: calc(-1 * var(--border-width)); */
  /* border-bottom: var(--border-width) solid var(--color-fg); */
  /* border-top: var(--border-width) solid var(--color-fg); */
  /* border-right: var(--border-width) solid var(--color-fg); */
  /* border-left: var(--border-width) solid var(--color-fg); */
  /* width: calc(100% + calc(2 * var(--border-width))); */
  /* width: 30vw; */
  /* max-width: 300px; */
  padding: 2rem;
  /* opacity: 1; */
  /* transform: translateX(-100%); */
  /* z-index: 10; */
  background: var(--color-bg);
  /* top: var(--line-space); */
  /* left: -1em; */
  /* border: var(--border-width) solid var(--color-fg); */

  p {
    margin: 0;
    hyphens: none;
  }
}

.revue__meta {
  padding: 0.5em;
}

.revue__tags--persona {
  display: block;
  text-align: right;
  font-style: italic;
}


.revue__item.revue__item--meta {
    max-width: calc(calc(100vw - var(--second-column-width) - var(--first-column-width)) / 1.5);
    max-width: min(calc(calc(100vw - var(--second-column-width) - var(--first-column-width)) / 1.5), 400px);
  .revue__info--show {
    width: calc(calc(100vw - var(--second-column-width) - var(--first-column-width)) / 1.4);
    width: min(calc(calc(100vw - var(--second-column-width) - var(--first-column-width)) / 1.4), 500px);
  }
  .revue__title {
    /* margin: 0; */
    /* padding: 0 0.5em; */
    /* display: inline-block; */
    hyphens: auto;
  /* word-break: break-all; */
    font-size: var(--title-size);
    /* text-align: center; */
    /* align-self: unset; */
    /* max-width: unset; */
    /* border-bottom: unset; */
    /* border-left: unset; */
  }
}

/* Swup animations */
.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.cover {
  z-index: 1000;
  position: fixed;
  opacity: 0.5;
  top: 0;
  left: calc(var(--first-column-width) + var(--second-column-width));
  width: calc(100vw - var(--first-column-width) - var(--second-column-width));
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background: var(--color-fg);
}

.transition-swipe {
  transition: all 0.4s cubic-bezier(0.65, 0, 0.35, 1);
  transform: scaleX(0);
  transform-origin: left;
  opacity: 0.5;
  background: unset;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  display: none;
  color: var(--color-anim);
  fill: var(--color-anim);
  width: 5em;
  height: 5em;
  animation: rotation 20s linear infinite, fadeIn 1.6s linear;
}

html.is-animating .transition-swipe {
  transform: scaleX(1);
  opacity: 1;
  background: var(--color-fg);
}

html.is-animating .spinner {
  display: block;
}

html.is-changing a {
  pointer-events: none;
}

/* Animations */
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    background: unset;
  }

  50% {
    background: var(--color-anim);
  }

  100% {
    background: unset;
  }
}

/* Glitch image */
/* Source : https://codepen.io/chriscoyier/pen/RwboqMr */
.glitch-image > img {
  position: absolute;
  top: 0;
  left: 0;
}
.glitch-image > img:nth-child(2) {
  left: 2px;
  animation: glitch-image-anim-1 2s infinite linear alternate-reverse;
}
.glitch-image > img:nth-child(3) {
  left: -2px;
  animation: glitch-image-anim-2 3s infinite linear alternate-reverse;
}

.text-over-image,
.text-over-image p {
  display: inline-block;
  z-index: 50;
  position: relative;
  color: black;
}
.text-over-image::selection,
.text-over-image span::selection,
.text-over-image p::selection {
  color: var(--color-bg);
  background-color: black;
  text-shadow: none;
}

/* Pour HTTP la hess */
/*Center the weird text*/
.ivresse {
	display: block;
  color: rgba(0,255,255,0.5);
  text-shadow: rgba(255,0,0,0.5) -4px 0px 0px;
}
.ivresse::selection {
  color: #ffffff;
  text-shadow: rgba(255,0,0,0.5) -8px 0px 0px;
  /* text-shadow: rgba(0,0,0,1) 0px 0px 0px; */
  background-color: rgba(0,0,0,1);
}

/* Animations */
/* CSShake - MIT - elrumordelaluz */
/* https://github.com/elrumordelaluz/csshake */
.shake {
  display: inherit;
  transform-origin: center center;
}
.shake:hover, .shake:focus, .shake:active {
  animation-name: shake;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.shake--continu {
  animation-name: shake;
  animation-duration: 2000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  display: inherit;
  transform-origin: center center;
}
.shake--continu:hover, .shake--continu:focus, .shake--continu:active {
  animation-play-state: paused;
}

@keyframes shake {
  2% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  4% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  6% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  8% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  10% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  12% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  14% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  16% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  18% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  20% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  22% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  24% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  26% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  28% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  30% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  32% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  34% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  36% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  38% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  40% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  42% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  44% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  46% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  48% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  50% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  52% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  54% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  56% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  58% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  60% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  62% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  64% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  66% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  68% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  70% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  72% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  74% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  76% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  78% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  80% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  82% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  84% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  86% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  88% {
    transform: translate(0px, 0px) rotate(0.5deg); }
  90% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  92% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  94% {
    transform: translate(1px, 1px) rotate(0.5deg); }
  96% {
    transform: translate(0px, 1px) rotate(0.5deg); }
  98% {
    transform: translate(1px, 0px) rotate(0.5deg); }
  0%, 100% {
    transform: translate(0, 0) rotate(0); }
}

@keyframes glitch-image-anim-1 {
  0% {
    clip-path: inset(21% 0 33% 0);
  }
  6.6666666667% {
    clip-path: inset(94% 0 2% 0);
  }
  13.3333333333% {
    clip-path: inset(23% 0 53% 0);
  }
  20% {
    clip-path: inset(5% 0 22% 0);
  }
  26.6666666667% {
    clip-path: inset(36% 0 3% 0);
  }
  33.3333333333% {
    clip-path: inset(39% 0 5% 0);
  }
  40% {
    clip-path: inset(21% 0 38% 0);
  }
  46.6666666667% {
    clip-path: inset(83% 0 12% 0);
  }
  53.3333333333% {
    clip-path: inset(70% 0 20% 0);
  }
  60% {
    clip-path: inset(55% 0 19% 0);
  }
  66.6666666667% {
    clip-path: inset(50% 0 26% 0);
  }
  73.3333333333% {
    clip-path: inset(84% 0 4% 0);
  }
  80% {
    clip-path: inset(11% 0 73% 0);
  }
  86.6666666667% {
    clip-path: inset(29% 0 7% 0);
  }
  93.3333333333% {
    clip-path: inset(76% 0 5% 0);
  }
  100% {
    clip-path: inset(1% 0 71% 0);
  }
}
@keyframes glitch-image-anim-2 {
  0% {
    clip-path: inset(41% 0 1% 0);
  }
  6.6666666667% {
    clip-path: inset(21% 0 60% 0);
  }
  13.3333333333% {
    clip-path: inset(1% 0 79% 0);
  }
  20% {
    clip-path: inset(89% 0 1% 0);
  }
  26.6666666667% {
    clip-path: inset(34% 0 41% 0);
  }
  33.3333333333% {
    clip-path: inset(22% 0 38% 0);
  }
  40% {
    clip-path: inset(74% 0 4% 0);
  }
  46.6666666667% {
    clip-path: inset(37% 0 19% 0);
  }
  53.3333333333% {
    clip-path: inset(82% 0 12% 0);
  }
  60% {
    clip-path: inset(82% 0 8% 0);
  }
  66.6666666667% {
    clip-path: inset(43% 0 31% 0);
  }
  73.3333333333% {
    clip-path: inset(78% 0 13% 0);
  }
  80% {
    clip-path: inset(83% 0 4% 0);
  }
  86.6666666667% {
    clip-path: inset(21% 0 66% 0);
  }
  93.3333333333% {
    clip-path: inset(91% 0 1% 0);
  }
  100% {
    clip-path: inset(58% 0 4% 0);
  }
}

