{{ define "main" }}
<div class="taxonomy transition-fade">

<div class="taxonomy__title">
<div class="taxonomy__title--container">
  <h1 class="baffle">{{ .Title | markdownify }}</h1>
</div>
</div>

{{ if .Params.images }}
{{ range first 1 .Params.images }}
<figure class="taxonomy__image">
  <div class="img-container">
    <img class="lazy item__image image"
      alt="{{ $.Page.Title | safeHTML }}"
      src="data:image/svg+xml;utf8, <svg height='1500' viewBox='0 0 1000 1500' width='1000' xmlns='http://www.w3.org/2000/svg'></svg>"
      data-src="{{ $.Site.BaseURL }}{{ . | urlize }}"
      data-sizes="60vw"
      data-srcset="{{ $.Site.BaseURL }}{{ substr . 0 -4 | urlize }}-small.jpg 400w,
                   {{ $.Site.BaseURL }}{{ substr . 0 -4 | urlize }}-medium.jpg 800w,
                   {{ $.Site.BaseURL }}{{ substr . 0 -4 | urlize }}-large.jpg 1200w,
                   {{ $.Site.BaseURL }}{{ substr . 0 -4 | urlize }}.jpg 2400w">
    <div class="img-container--border"></div>
  </div>
</figure>
{{ end }}
{{ end }}

<div class="taxonomy__content">
<div class="taxonomy__content--container">
{{ partial "typography.html" . }}
</div>
</div>

</div>

{{ $pages := .Paginate .Pages.ByTitle }}
{{ .Scratch.Set "pagination" $pages }}

{{ partial "all-articles-taxonomy.html" . }}

{{ end }}
