{{ define "main" }}

<article class="explore transition-fade">
  <h1 class="explore__title">
    <a class="baffle" href="{{ .Permalink }}">{{ .Title }}</a>
  </h1>

 <div class="explore__search">
        <input class="explore__input" id="explore-input" type="text" placeholder="errer&hellip;" autocomplete="off" name="explore">
  </div>

  <div class="explore__description">
    {{ partial "typography.html" . }}
  </div>

  <div class="explore__results"></div>

</article>

  {{ partial "pagination-single.html" . }}

{{ end }}

