<div {{ with .Get "class" }}class="{{.}}"{{ end }} style="display: block; {{ with .Get "div-style" }}{{ . | safeCSS }}{{ end }};">
<div style="position:relative;{{ with .Get "margin" }}margin: {{.}};{{ end }}{{ with .Get "width" }}width: {{.}};{{ end }}{{ with .Get "height" }}height: {{.}};{{ end }}">

<img style="visibility: hidden;" class="lazy" data-src="{{ .Get "src" }}"{{ if or (.Get "alt") (.Get "caption") }} alt="{{ with .Get "alt"}}{{.}}{{else}}{{ .Get "caption" }}{{ end }}"{{ end }}>

<figure class="glitch-image" data-src="{{ .Get "src" }}">
      <img class="lazy" data-src="{{ .Get "src" }}"{{ if or (.Get "alt") (.Get "caption") }} alt="{{ with .Get "alt"}}{{.}}{{else}}{{ .Get "caption" }}{{ end }}"{{ end }}>
      <img class="lazy" data-src="{{ .Get "src" }}"{{ if or (.Get "alt") (.Get "caption") }} alt="{{ with .Get "alt"}}{{.}}{{else}}{{ .Get "caption" }}{{ end }}"{{ end }}>
      <img class="lazy" data-src="{{ .Get "src" }}"{{ if or (.Get "alt") (.Get "caption") }} alt="{{ with .Get "alt"}}{{.}}{{else}}{{ .Get "caption" }}{{ end }}"{{ end }}>
</figure>

</div>
</div>



